upstream unicorn {
	server unix:/tmp/unicorn.sock
}

server {
	listen 80;
	server name <%= node.fastladder.server_name %>;
	access_log /var/log/nginx/<%= node.fastladder.server_name %>.access.log;

	root /var/www/fastladder/current/public;

	location / {
		proxy_set_header X-Real_IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header Host $http_host;
		proxy_redirect off;

		if (!-f $request_filename) {
			proxy_pass http://unicorn;
			break;
		}
	}
}